/* ---------* Reset CSS *------------ */
* { 
	margin: 0; 
	padding: 0; 
	border: 0; 
}

@font-face {
    font-family: gotham-htf;
    src: url('../fonts/GothamHTF-Book.ttf')  format('truetype');
}

@font-face {
    font-family: raleway-reg;
    src: url('../fonts/Raleway-Regular.ttf')  format('truetype');
}

html{ 
	height: 100%; 
	width: 100%; 
}
body {
	font-family: gotham-htf, arial, sans-serif !important;
	background: #ECF0F1 !important;
	height: 100%; 
	width: 100%; 
}
h1 { 
    font-size: 2.2em !important; 
} 
h2 { 
    font-size: 2.0em !important;     
} 
h3 { 
    font-size: 1.8em !important; 
} 
h4 { 
    font-size: 1.6em !important;     
} 
h5 { 
    font-size: 1.4em !important;     
} 
p { 
    font-size: 1.2em !important;     
}

a{
	text-decoration: none;
	color: #111 !important;
}

/*
/* ---------* end: Reset CSS *------- */




/* ---------* Header *---------------- */
header{
	height: 40px;
	background: #444;
}


/* ---------* end: Header *----------- */




/* ---------* Body *------------------ */

.login-wrapper{
	margin: 20px auto;
	float: none !important;
	padding: 50px 40px;
	border:1px solid #999;
}

section.content{
	margin: 20px;
}

.left-bar-wrapper{
	border: 1px solid #DBDBDB;
	background: #Ffffff;
	border-radius: 5px;
	padding: 15px 0;
}

.images-wrapper{
	padding: 5px;
	display: inline-block;
	margin: 0 30px 10px 30px;
	background: #FFFFFF;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #CCCCCC	;
	width: 25%;
	box-shadow: 3px 4px 5px #999;
}

.images{
	background: #FFFFFF;
	padding: 3px;
	width: 100%;
	border-radius: 4px;
	/*border: 1px solid #888;*/

}

.image_question{
	margin: 10px 0 ;
}

.options{
	text-align: right;
}

.options .btn{
	margin: 0 2px;
	border-radius: 5px !important;
}


/*.images-wrapper:hover{
	transform: scale(1.1);
	-webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}*/



#kv-success-1 ul{
	margin-left: 20px;
}

/* ---------* end: Body *------------- */





/* ---------* Footer *---------------- */

/* ---------* end: Footer *----------- */




/* ---------* Custom *---------------- */

/* ---------* end: Custom *----------- */




/* ---------* Override *---- */

.btn{
	border-radius: 0 !important;
}

/* ---------* end: Override *--------- */